.conditions {
  padding-top: 120px;
  .container {
    padding: 0 148px;
  }
}
.conditions__title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -1.92px;
  line-height: 120%;
  margin-bottom: 48px;
  text-align: center;
}
.conditions--wraper {
  background: #fff;
  border-radius: 48px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 20px 16px;
}
.conditions__item {
  align-items: center;
  background: #f4f8fa;
  border-radius: 80px;
  display: flex;
  justify-content: space-between;
  padding: 29px 32px;
}
.conditions__item--question {
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
}
.conditions__item--answer {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background: linear-gradient(
    100deg,
    #06b7f9 -0.18%,
    #22eb5a 52%,
    #c6f428 101.15%
  );
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
}
.conditions__br--tablet {
  display: none;
}
@media screen and (max-width: 1400px) {
  .conditions--wraper {
    grid-template-columns: 1fr 1fr;
  }
  .conditions__item {
    align-items: start;
    border-radius: 32px;
    flex-direction: column;
    min-height: 126px;
    padding: 24px;
  }
  .conditions__item:nth-child(2) {
    grid-column: span 2;
    grid-row-start: 3;
  }
}
@media screen and (max-width: 1024px) {
  .conditions {
    .container {
      padding: 0 48px;
    }
  }
}
@media screen and (max-width: 768px) {
  .conditions {
    .container {
      padding: 0 20px;
    }
  }
  .conditions__item {
    padding: 24px 32px;
  }
  .conditions__br--tablet {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .conditions {
    padding-top: 56px;
  }
  .conditions__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 112%;
    margin-bottom: 24px;
  }
  .conditions--wraper {
    border-radius: 24px;
    gap: 8px;
    grid-template-columns: 1fr;
    padding: 8px;
  }
  .conditions__item {
    border-radius: 16px;
    min-height: 57px;
    padding: 16px;
  }
  .conditions__item--question {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .conditions__item--answer {
    background: linear-gradient(100deg, #08c193 -0.18%, #22eb5a 82%);
    font-size: 16px;
    line-height: 120%;
  }
  .conditions__item:nth-child(2) {
    grid-column: span 1;
    grid-row-start: 2;
  }
  .conditions__br--tablet {
    display: none;
  }
}
