.doing {
  margin-bottom: 120px;
}
.doing__title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -1.92px;
  line-height: 120%;
  margin: 0 auto 58px;
  max-width: 550px;
  text-align: center;
}
.doing__title--gradient {
  background-image: url(../img/what-doing-text-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0 12px 10px;
}
.doing--content {
  display: grid;
  gap: 20px 24px;
  grid-template-columns: 1fr 1fr;
}
.doing__item {
  align-items: center;
  background: #fff;
  border-radius: 40px;
  display: flex;
  padding: 32px;
  position: relative;
}
.doing__item--img {
  background-image: url(../img/icon_tick.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  margin: 6px 20px 6px 0;
  width: 40px;
}
.doing__item--text {
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
}
.doing__item:last-child {
  .doing__item--text {
    max-width: 390px;
  }
}
@media screen and (max-width: 1024px) {
  .doing--content {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .doing {
    margin-bottom: 128px;
  }
  .doing__title {
    margin-bottom: 48px;
  }
  .doing__title--gradient {
    display: inline-block;
    transform: translate(11px);
  }
  .doing__item {
    padding: 26px 32px;
  }
}
@media screen and (max-width: 700px) {
  .doing {
    margin-bottom: 59px;
  }
  .doing__title {
    font-size: 24px;
    letter-spacing: -0.48px;
    line-height: 112%;
    margin-bottom: 24px;
    max-width: 375px;
  }
  .doing__title--gradient {
    background-size: 283px 33px;
    padding: 0 8px 6px;
    transform: unset;
  }
  .doing--content {
    gap: 11px;
  }
  .doing__item {
    border-radius: 24px;
    padding: 12px 16px;
  }
  .doing__item--img {
    height: 32px;
    margin-right: 12px;
    min-width: 32px;
    width: 32px;
  }
  .doing__item--text {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 126%;
  }
}
