.expert {
}
.expert__wrapper {
  display: flex;
}
.expert__info {
}
.expert__info__title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -1.92px;
  line-height: 120%;
}
.expert__info__title--gradient {
  background-image: url(../img/expert-text-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  padding: 0 12px 10px;
}
.expert__info--descr {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 140%;
  margin-top: 24px;
  max-width: 540px;
  width: 100%;
  display: block;
}
.expert__video__content--button:hover {
  transform: scale(0.97);
}
.expert__more__item--content--button:hover {
  transform: scale(0.97);
}
.expert__video {
  align-items: flex-start;
  display: flex;
  margin-left: 104px;
  max-width: 620px;
  position: relative;
  width: 100%;
}
.expert__video--wrapper {
  border-radius: 48px;
  object-fit: contain;
  overflow: hidden;
  padding-bottom: 61.25%;
  position: relative;
  width: 100%;
  z-index: 4;
}
.expert__video--preview {
  border: none;
  cursor: pointer;
  height: calc(100% + 2px);
  left: -1px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  z-index: 5;
}
.expert__video__content {
  bottom: 32px;
  color: #fff;
  cursor: pointer;
  left: 32px;
  position: absolute;
  z-index: 20;
}
.expert__video__content--timer {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 8px;
}
.expert__video__content--title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: 110%;
  margin-bottom: 20px;
}
.expert__video__content--button {
  background: #fff;
  border-radius: 72px;
  color: #000;
  cursor: pointer;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 14px 20px;
  transition: transform 0.3s;
}
.expert__video__content--button--content {
  align-items: center;
  display: flex;
  gap: 6px;
  span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.128px;
    line-height: 126%;
  }
}
.expert__more {
  margin-top: 32px;
}
.expert__more--title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.8px;
  line-height: 110%;
}
.expert__more--wrapper {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.expert__more__item {
  border-radius: 40px;
  overflow: hidden;
  padding-bottom: 18.1%;
  position: relative;
  width: 100%;
  z-index: 4;
}
.expert__more__item--preview {
  border: none;
  cursor: pointer;
  height: calc(100% + 2px);
  left: -1px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  z-index: 5;
}
.expert__more__item--content {
  height: 100%;
  padding-right: 24px;
  top: 24px;
  bottom: 32px;
  color: #fff;
  cursor: pointer;
  left: 32px;
  position: absolute;
  z-index: 20;
}
.expert__more__item--content--title {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: 110%;
}
.expert__more__item--content--button {
  bottom: 48px;
  padding: 12px 20px;
  position: absolute;
  background: #fff;
  border-radius: 72px;
  color: #000;
  cursor: pointer;
  max-width: max-content;
  transition: transform 0.3s;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.128px;
  line-height: 126%;
}
.expert__more--slider {
  display: none;
}
@media screen and (max-width: 1024px) {
  .expert__wrapper {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .expert__info__title {
    text-align: center;
  }
  .expert__info--descr {
    text-align: center;
  }
  .expert__video {
    margin: 48px 0 0;
    max-width: unset;
  }
  .expert__more--wrapper {
    display: none;
  }
  .expert__more--slider {
    display: block;
    height: 100%;
    margin-top: 32px;
  }
  .expert__more--slider .swiper-slide {
    height: 100%;
    max-width: 324px;
    width: 100% !important;
  }
  .expert__more__item {
    border-radius: 20px;
    padding-bottom: 59%;
  }
}
@media screen and (max-width: 700px) {
  .expert__info__title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 130%;
  }
  .expert__more__item--content--button {
    bottom: 32px;
    font-size: 14px;
    letter-spacing: 0.14px;
  }
  .expert__info--descr {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.056px;
    line-height: 134%;
    margin-top: 12px;
  }
  .expert__video {
    margin-top: 24px;
  }
  .expert__video--wrapper {
    border-radius: 24px;
  }
  .expert__video__content {
    bottom: 16px;
    left: 16px;
  }
  .expert__video__content--timer {
    font-size: 8px;
    margin-bottom: 4px;
  }
  .expert__video__content--title {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 12px;
  }
  .expert__more--title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 130%;
  }
  .expert__more__item {
    border-radius: 24px;
    padding-bottom: 65%;
  }
  .expert__more__item--content {
    left: 16px;
    padding-right: 16px;
    top: 16px;
  }
  .expert__more__item--content--title {
    font-size: 16px;
  }
  .expert__more--slider .swiper-slide {
    max-width: 265px;
  }
}
