@font-face {
  font-family: "SB Sans Display";
  font-weight: 300;
  src: url(../fonts/sbsansdisplay-light.woff2) format("woff2"),
    url(../fonts/sbsansdisplay-light.woff) format("woff");
}
@font-face {
  font-family: "SB Sans Display";
  font-weight: 400;
  src: url(../fonts/sbsansdisplay-regular.woff2) format("woff2"),
    url(../fonts/sbsansdisplay-regular.woff) format("woff");
}
@font-face {
  font-family: "SB Sans Display";
  font-weight: 600;
  src: url(../fonts/sbsansdisplay-semibold.woff2) format("woff2"),
    url(../fonts/sbsansdisplay-semibold.woff) format("woff");
}
