.guide {
  padding-top: 120px;
  background-size: 200% 100%;
  margin-bottom: 120px;
  position: relative;
  background-repeat: no-repeat;
  .container {
    position: relative;
    z-index: 2;
  }
}
.guide::before {
  background-image: url(../img/bg-guide.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 180%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 145%;
  z-index: 1;
}
.guide__title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -1.92px;
  line-height: 120%;
  margin: 0 auto 48px;
  max-width: 665px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.guide__title--ascent {
  position: relative;
  margin-right: 10px;
}
.guide__title--ascent::before {
  background-image: linear-gradient(110deg, #00b1af, #19d926, #c6ee0a);
  border-radius: 40px;
  content: "";
  height: 100%;
  left: -15%;
  pointer-events: none;
  position: absolute;
  top: 3%;
  transform: rotate(-3deg);
  width: 120%;
  z-index: 1;
}
.guide__title--gradient {
  color: #fff;
  padding-inline-end: 4px;
  position: relative;
  z-index: 2;
  text-align: center;
}
.swiper2 {
  margin-bottom: 64px;
  overflow: visible;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.swiper-wrapper {
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.guide__card {
  opacity: 0;
  align-items: center;
  background: #fff;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  padding: 70px 30px;
  width: 500px;
  max-width: 500px;
  will-change: transform;
}
.guide__card--img {
  height: 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: auto;
  img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
  }
}
.guide__card--text {
  color: #353f47;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: 110%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.guide__navigation--wrapper {
  display: flex;
  justify-content: space-between;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 290px;
  transform: translate(-50%, -25%);
  width: 1340px;
  z-index: 30;
}
.guide__navigation--prev {
  background: transparent;
  cursor: pointer;
  height: 164px;
  pointer-events: auto;
  width: 164px;
  .guide__navigation--icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 164px;
    background-image: url(../img/arrow_prev.svg);
  }
}
.guide__navigation--icon {
  display: inline-block;
  height: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 100%;
}
.guide__navigation--next {
  background: transparent;
  cursor: pointer;
  height: 164px;
  pointer-events: auto;
  width: 164px;
  .guide__navigation--icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 164px;
    background-image: url(../img/arrow_next.svg);
  }
}
.swiper2 {
  margin-bottom: 64px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
.guide__button--wrapper {
  display: flex;
  justify-content: center;
}
.guide__button {
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-width: 220px;
  overflow: hidden;
  padding: 24px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(
    100deg,
    #06b7f9 -0.18%,
    #22eb5a 52%,
    #c6f428 101.15%
  );
  z-index: 3;
}
.guide__button:hover {
  background: linear-gradient(
    100deg,
    #06b7f9 -0.18%,
    #22eb5a 52%,
    #c6f428 101.15%
  );
}
.guide__button--text {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: 110%;
  position: relative;
  z-index: 5;
}
.swiper-slide {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 1860px) {
  .guide::before {
    height: 178%;
    top: 55%;
    width: 178%;
  }
}
@media screen and (max-width: 1400px) {
  .guide__navigation--wrapper {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .guide::before {
    height: 200%;
    top: 52%;
    width: 350%;
  }
}
@media screen and (max-width: 700px) {
  .guide {
    padding-top: 56px;
    margin-bottom: 56px;
  }
  .guide__title {
    font-size: 24px;
    letter-spacing: -0.48px;
    line-height: 112%;
    margin-bottom: 24px;
    max-width: 320px;
  }
  .swiper2 {
    margin-bottom: 24px;
  }
  .guide__card--img {
    height: 125px;
    margin-bottom: 20px;
  }
  .guide__card {
    border-radius: 40px;
    height: 260px !important;
    justify-content: flex-start;
    padding: 24px 20px;
    width: 260px !important;
  }
  .guide__card--text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    height: 65px;
    justify-content: center;
    letter-spacing: -0.056px;
    line-height: 130%;
  }
  .guide__button {
    min-width: 156px;
    padding: 12px 24px;
  }
  .guide__button--text {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 126%;
  }
}
