// Header
header {
  height: 44px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  transition-duration: 0.3s;
  transition: top 0.3s ease;
  transition-property: background-color, opacity, transform;
}
.header--position {
  left: 50%;
  position: fixed;
  top: -100px;
  transform: translateX(-50%);
  z-index: 100;
  transition: top 0.3s;
  transition: all 0.3s;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;

  padding: 24px 0;
  transition-duration: 0.3s;
  transition-property: background-color, opacity, transform;
}
.logo {
  position: relative;
  z-index: 1000;
}
.menu__item-link:hover {
  color: #505b65;
}
.header--btn:hover {
  background: #505b65;
  transition: 0.3s;
}
.menu {
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu__item {
}
.menu__item-link {
  border-bottom: 1px solid transparent;
  color: #353f47;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.128px;
  line-height: 126%;
  text-decoration: none;
}
.header--btn {
  backdrop-filter: blur(12px);
  background: #353f47;
  border-radius: 22px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  max-height: 44px;
  position: relative;
  z-index: 9999;
  padding: 12px 24px;
}
.btn {
}
.burger {
  display: none;
}
.header--hide {
  opacity: 0;
  top: -100px !important;
  top: unset;
}
.header--show {
  top: 0; /* Переместите заголовок на верхнюю часть окна браузера */
}

.menu__item__mobile {
  display: none;
}
.header--scroll-up {
  background-color: #fff;
  background: #fff;
  box-shadow: 0 0 88px 0 rgba(109, 140, 155, 0.16);
}
.nav {
  transition: background-color 0.4s;
  transition: background 0.4s;
  border-radius: 0 0 80px 80px;
}

.button--link {
  text-decoration: none;
}
.def__button--fixed {
  background-color: #353f47;
  border-radius: 22px;
  bottom: 24px;
  color: #fff;
  display: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.128px;
  line-height: 126%;
  padding: 12px 24px;
  position: fixed;
  right: 24px;
  z-index: 98;
}

@media (max-width: 1400px) {
  .header--hide {
    opacity: 0;
    transform: translateY(-100px);
  }
}
@media screen and (max-width: 1400px) {
  // .menu
  .header--btn {
    margin-left: auto;
    margin-right: 20px;
  }
  .menu {
    position: fixed;
    background-color: #f4f8fa;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      padding: 192px 48px 40px;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 7px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      display: block;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      height: 3px;
      background: $burgerColor;
      border-radius: 9px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    width: 100%;
  }

  // .menu__link
  .menu__item-link {
    width: 100%;
    border-bottom: 2px solid rgba(53, 63, 71, 0.08);
    color: #353f47;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    display: block;
    font-weight: 600;
    letter-spacing: -0.72px;
    line-height: 110%;
    padding: 24px 0;
    text-align: center;
    text-decoration: none;
    transition: border-bottom 0.3s ease-in-out;
  }
  .menu__item-link:first-child {
    padding-top: 0;
  }
  .menu__item:last-child {
    .menu__item-link {
      border-bottom: none;
    }
  }
  .menu__item__mobile {
    display: block;
    height: 100%;
    margin-top: auto;
    a {
      display: block;
    }
  }
  .burger--btn {
    background: linear-gradient(
      100deg,
      #06b7f9 -0.18%,
      #22eb5a 52%,
      #c6f428 101.15%
    );
    border-radius: 22px;
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-size: 16px;
    font-weight: 600;
    max-height: 44px;
    padding: 12px 24px;
    transition: 0.3s;
    width: 170px;
    margin: 0 auto;
  }
  .menu__item:nth-child(6) {
    .menu__item-link {
      border-bottom: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 164px;
  }
  .nav {
    border-radius: 0 0 56px 56px;
  }
}
@media screen and (max-width: 768px) {
  .def__button--fixed {
    bottom: 12px;
    display: block;
    right: 12px;
  }
  .header--btn {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .logo {
    max-width: 160px;
    img {
      width: 100%;
    }
  }
  .header--btn {
    padding: 12px 12px;
    font-size: 14px;
    margin-right: 10px;
  }
  .nav {
    border-radius: 0 0 40px 40px;
  }
  .navbar {
    padding: 20px 0;
  }
}
