.popup__video {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 120vh;
  justify-content: center;
  left: 0;
  padding: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.popup__video--wrapper {
  margin-bottom: 20vh;
  max-width: 1124px;
  position: relative;
  width: 100%;
}
.popup__video__video {
  border-radius: 12px;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  z-index: 4;
}
.pop-up-video__video {
  border: none;
  height: calc(100% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  z-index: 5;
}
.popup__video--close {
  cursor: pointer;
  height: 56px;
  position: absolute;
  right: -94px;
  top: -28px;
  width: 56px;
}
@media screen and (max-width: 1024px) {
  .popup__video {
    padding: 48px;
  }
  .popup__video--wrapper {
    max-width: unset;
    width: 100%;
  }
  .popup__video--close {
    right: 0;
    top: -104px;
  }
}
@media screen and (max-width: 700px) {
  .popup__video {
    padding: 20px;
  }
  .popup__video--close {
    height: 40px;
    top: -60px;
    width: 40px;
  }
}
